<?xml version="1.0" encoding="utf-8"?>
<configuration>	

	<appSettings>
		<!-- ####################################### Settings ######################################################### -->
		<!-- <add key="browser" value= Chrome Iexplore Firefox, BrowserStack, ChromeMobileEmulator, Edge />-->
		<add key="browser" value="Chrome"/>
		<!-- Change on false for local selecting browser-->
		<add key="UseSystemBrowserParameter" value="false"/>
		<add key="LoginURL" value="https://store.steampowered.com/"/>				
	</appSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

</configuration>